@mixin text_s($t_txt: 1em, $e_txt: normal) {
  font-size: ($t_txt);
  font-weight: ($e_txt);
  font-family: "Roboto", sans-serif;
}

@mixin titre_s($t_txt: 1em, $e_txt: normal) {
  font-size: ($t_txt);
  font-weight: ($e_txt);
  font-family: "Shrikhand", cursive;
}

@mixin tab {
  @media (min-width: 781px) and (max-width: 1050px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 1050px) {
    @content;
  }
}
