@import "mixin.scss";
@import "variables.scss";
%centretxt {
  text-align: center;
  justify-content: center;
}
header {
  display: flex;
  margin-bottom: 5%;
  margin-top: 3%;
}

body {
  margin: 0;
}
.logo_h {
  height: 2em;
}
.centre {
  margin: auto;
  display: flex;
}
.lieux {
  @extend %centretxt;
  @include text_s;
  display: flex;
  margin-top: 5%;
  background-color: rgba(234, 234, 234, 255);
  padding-bottom: 3%;
  padding-top: 3%;
  box-shadow: inset 0px 5px 5px -5px black;
}
.loc {
  margin-right: 2%;
}

.reservation {
  @extend %centretxt;
  background-color: rgba(246, 246, 246, 255);
  h2 {
    padding-top: 1.5em;
    padding: 1.5em 15% 0 15%;
  }
}

h2 {
  margin-top: 0;
  @include text_s(1.4em, bold);
}
.txt {
  @include text_s;
  padding: 0 10% 10% 6%;
}

.bt {
  @include text_s;
  padding: 4% 5% 4% 5%;
  border-radius: 50px;
  background: linear-gradient(
    rgba(233, 114, 218, 255),
    rgba(171, 94, 220, 255)
  );
  color: white;
  border-style: none;
  box-shadow: 0px 0px 7px 0px gray;
  margin-bottom: 15%;

  &:hover {
    background: linear-gradient(
      rgba(233, 150, 218, 255),
      rgba(171, 120, 220, 255)
    );
    box-shadow: 0px 0px 8px 1px gray;
  }
}

.fonct {
  margin-bottom: 20%;
  h2 {
    padding-top: 10%;
    padding-left: 4%;
  }
}
.s_fonct {
  @extend %centretxt;
  @include text_s(1em, bold);
  align-items: center;
  display: flex;
  width: 90%;
  background-color: $gris_c;
  justify-content: start;
  margin-left: 5%;
  margin-bottom: 5%;
  height: 5em;
  border-radius: 20px;
  box-shadow: 2px 8px 10px 0px rgb(190, 188, 188);
}
.nm {
  background-color: #9356dc;
  padding: 1.1% 2.2% 1.1% 2.2%;
  border-radius: 50%;
  color: white;
  font-size: 0.8em;
  font-weight: 100;
  position: relative;
  right: 3%;
}
.i_fonct {
  color: gray;
  font-size: 1.2em;
  margin-right: 5%;
  margin-left: 2%;
}
.s_fonct2 {
  @extend .s_fonct;
}

.s_fonct3 {
  @extend .s_fonct;
  background-color: rgba(245, 237, 255, 255);
  .i_fonct {
    color: #9356dc;
  }
}

// restaurant
.rest {
  display: flex;
  flex-direction: column;
  background-color: $gris_c;
  padding-bottom: 13%;
  h2 {
    padding-top: 15%;
    padding-left: 5%;
  }
}
.neutre {
  text-decoration: none;
  color: black;
}
.carte_r {
  width: 90%;
  margin: 5%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 14px 0px rgb(197, 195, 195);
  position: relative;
}

.img_r {
  object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 11em;
}

.nouv {
  @include text_s(0.9em, bold);
  background-color: #99e2d0;
  position: absolute;
  top: 5%;
  left: 73%;
  padding: 2% 3% 2% 3%;
  color: #139273;
}
.txt_r {
  padding-left: 3%;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
}
h4 {
  @include text_s(1.1em, bold);
  margin: 0;
}
p {
  @include text_s(1em);
  margin: 0;
}
.i_rest {
  float: right;
  display: flex;
  margin-top: 5%;
  margin-bottom: auto;
  margin-left: 30%;
  font-size: 1.5em;
  &:hover .i_remp {
    transform: scale(1);
    transition: transform 3000ms ease-out;
  }
}
.i_remp {
  transform: scale(0);
  position: absolute;
  color: red;
}

.bas_r {
  display: flex;
}
// footer
.bas_p {
  background-color: rgba(53, 53, 53, 255);
  color: white;
  margin: 0;
  padding-top: 5%;
  padding-left: 6%;
  padding-bottom: 10%;
  li {
    margin-bottom: 2%;
  }
}
.txt_f {
  list-style: none;
  @include text_s(1em);
}

.logo_f {
  @include titre_s(1.1em, 100);
  list-style: none;
  padding-bottom: 4%;
}
.i_foot {
  font-size: 0.8em;
  margin-right: 3%;
}
.i_foot2 {
  @extend .i_foot;
  font-size: 0.6em;
}
.i_t_foot {
  display: flex;
  align-items: center;
}
.neutre_f {
  text-decoration: none;
  color: white;
}

// menu1.html

.i_ret {
  font-size: 1.3em;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  a {
    color: black;
  }
}
.menu {
  background-color: $gris_c;
}
.titre {
  background-color: rgba(246, 246, 246, 255);
  border-radius: 35px 35px 0 0;
  padding-top: 8%;
  padding-left: 3%;
  position: relative;
  bottom: 2em;
  display: flex;
  h2 {
    @include titre_s(1.8em);
    margin-bottom: 0;
  }
}
.i_menu {
  margin: auto;
  margin-left: 27%;
  font-size: 1.5em;
}
.img_m {
  @extend .img_r;
  border-radius: 0;
  height: 16em;
}

.plat {
  @include text_s(0.9em);
  background: white;
  margin: $pm;
  h5 {
    margin: 0%;
    font-size: 1.3em;
    margin-bottom: 2%;
  }
  border-radius: 15px;
  box-shadow: 0px 5px 14px 0px #c5c3c3;
  display: flex;
}
.nm_plat {
  padding-left: $pm;
  width: 70%;
  padding-bottom: 3%;
  padding-top: 3%;
}
.money {
  margin-left: auto;
  margin-right: 4%;
  margin-bottom: 3%;
  margin-top: auto;
  font-weight: bold;
}
.menu_s {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}
.plat_t {
  @include text_s;
  width: 15%;
  margin-left: $pm;
  position: relative;
}
.barre {
  height: 3px;
  width: 2.5em;
  background: $tertiaire;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: $pm;
}
.bt_c {
  @extend .bt;
  padding-left: 15%;
  padding-right: 15%;
}
.pos_bc {
  text-align: center;
}
